{% extends "./layout-tmpl.html" %}

{% block content %}
<section>
	<div id="highlighted-region" class="highlighted text-color-light">
		<div id="highlighted-slider-1-block" class="highlighted-slider-1 position-relative bg-image-cactus" data-stellar-background-ratio="0.7" style="background: url('{{banner.background_image.url}}') scroll center no-repeat; background-size: cover;">
			<div class="overlay">
				<div class="flex-bullet-slider vertical-center text-center">
					<div class="container">
						<ul class="slides">
							{% for slide in banner.content%}
							<li>
								<h1 class="slider-title">{{slide.title}}</h1>
								<p class="slider-description">{{slide.description}}</p>
								<a href="{{slide.cta.link}}" {% if slide.cta.open_in_new_tab_ %} target="_blank" {% endif %} class="btn btn-default">{{slide.cta.title}}</a>

							</li>
							{% endfor %}
						</ul>
					</div> <!-- /container -->
				</div> <!-- /flex-bullet-slider -->
			</div> <!-- /overlay -->
		</div> <!-- /highlighted-slider-1-block -->
	</div> <!-- /highlighted-region -->

	<div id="content-region" class="content region">

		<div id="panels-1-block" class="panels-1 block">
			<div class="container">
				<div class="row">
					{% for feature in features%}
					<div class="panels-item col-xs-12 col-md-4">
						<!--<i class="icon ion-compass "></i>-->
						<i class="fa {{feature.font_awesome_class}} text-color-theme" aria-hidden="true"></i>
						<h6>{{feature.title}}</h6>
						<p>{{feature.description}}</p>
					</div> <!-- /panels-item -->

					{% endfor %}
				</div> <!-- /row -->
			</div> <!-- /container -->
		</div> <!-- /panels-1-block -->

	</div> <!-- /content-region -->


	<div id="content-1-region" class="content-1 region bg-color-grayLight1">

		<div id="services-1-block" class="services-1 block">
			<div class="container">
				<div class="row">

					<div class="services-1-content col-xs-12 col-md-7">

						<h2>{{services.title}}</h2>
						<div class="service-content">
							{{services.content}}
						</div>
						<div class="panels-2">

							<div class="row">
								{% for service in services.service_details%}
								<div class="panels-item col-sm-6">
									<i class="fa {{service.font_awesome_class}} text-color-theme" aria-hidden="true"></i>
									<h6>{{service.title}}</h6>
									<p>{{service.description}}</p>
								</div>
								{% endfor %}
							</div> <!-- /row -->

						</div> <!-- /panels-2 -->

					</div> <!-- /services-1-content -->

					<div class="services-1-image col-xs-12 col-md-5 text-center">
						<img src="{{services.image.url}}" alt="iPhone" class="img-responsive">
					</div> <!-- /services-1-image -->

				</div> <!-- /row -->
			</div> <!-- /container -->
		</div> <!-- /services-1-block -->

	</div> <!-- content-1-region -->


	<div id="content-2-region" class="content-2 region">

		<div id="our-work-1-block" class="our-work-1 block">
			<div class="container">

				<h2 class="block-title">{{work.title}}</h2>

				<div class="row our-work-1-description">
					<div class="col-xs-12 col-md-9">
						{{work.description}}
					</div>

					<div class="col-xs-12 col-md-3 text-left-sm margin-top-sm-30 text-right">
						<a href="{{work.cta.href}}" class="btn btn-primary">{{work.cta.title}}</a>
					</div>
				</div>

				<div class="row">
					{% for work in work.work_details %}
					<div class="our-work-1-item col-xs-12 col-sm-4">
						<a href="{{work.cta.link}}">
							<div class="our-work-1-image">
								<img class="img-responsive" src="{{work.image.url}}" alt="Portfolio 1" title="Portfolio 1">
								<div class="our-work-1-overlay">
									<p>{{work.cta.title}}</p>
								</div>
							</div> <!-- /our-work-1-image -->
						</a>
						<div class="our-work-1-item-description">
							<h6>{{work.title}}</h6>
							<p class="text-color-theme"><small>{{work.date}}</small></p>
						</div> <!-- /our-work-1-item-description -->
					</div> <!-- /our-work-1-item -->

					{% endfor %}
				</div> <!-- /row -->
			</div> <!-- /container -->
		</div> <!-- /our-work-1-block -->

	</div> <!-- /content-2-region -->

	<div id="content-3-region" class="content-3 region position-relative bg-image-bench text-color-light" data-stellar-background-ratio="0.7" style="background: url('{{testimonials.background_image.url}}') scroll center no-repeat; background-size: cover;">

		<div id="text-widget-1-block" class="text-widget-1 block">
			<div class="overlay">
				<div class="vertical-center text-center">
					<div class="container">
						<h1 class="no-margin">{{testimonials.title}}</h1>
					</div> <!-- /container -->
				</div> <!-- /vertical-center -->
			</div> <!-- /overlay -->
		</div> <!-- /text-widget-1-block -->

	</div> <!-- /content-3-region -->

	<div id="content-4-region" class="content-4 region bg-color-grayDark2 text-color-light">

		<div id="testimonials-1-block" class="testimonials-1 block">
			<div class="container">
				<div class="row">

					<div class="col-xs-12 col-md-10 col-md-offset-1">
						<div class="flex-bullet-slider vertical-center text-center">
							<i class="fa fa-comment-o testimonials-1-icon text-color-theme" aria-hidden="true"></i>
							<ul class="slides">
								{% for name in testimonials.testimony %}
								<li class="">
									<h4 class="testimonials-1-text lato-font">{{name.description}}</h4>
									<p class="testimonials-1-author text-color-theme"><i>{{name.author}}</i></p>
								</li>
								{% endfor %}
							</ul>
						</div> <!-- /flex-bullet-slider -->
					</div> <!-- /col-xs-12 -->

				</div> <!-- /row -->
			</div> <!-- container -->
		</div> <!-- /testimonials-1-block -->

	</div> <!-- /content-4-region -->

	<div id="content-5-region" class="content-5 region bg-color-theme text-color-light">

		<div id="call-to-action-1-block" class="call-to-action-1 block">
			<div class="container">
				<div class="row">

					<div class="col-xs-12 text-center">
						<h4 class="call-to-action-1-text">{{purchase.title}}</h4>
						<a href="{{purchase.cta.link}}" {% if purchase.cta.open_in_new_tab_ %} target="_blank" {% endif %} class="call-to-action-1-button btn btn-default">{{purchase.cta.title}}</a>
					</div>

				</div> <!-- /row -->
			</div> <!-- /container -->
		</div> <!-- /call-to-action-1-block -->

	</div> <!-- /content-5-region -->

	<div id="content-6-region" class="content-6 region bg-color-grayLight1">

		<div id="text-accordions-block" class="text-accordions block ul-chk-style">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<h5>{{support.features.title}}</h5>
						<p>{{support.features.description}}</p>

					</div> <!-- /col-xs-12 -->
					<div class="col-xs-12 col-md-6 margin-top-sm-40">

						<!-- Accordions -->
						<div class="panel-group" id="accordion2">
							{% for collapsible in support.collapsible_group %}
							<div class="panel panel-primary">
								<div class="panel-heading">
									<a data-toggle="collapse" data-parent="#accordion2" href="#collapse{{loop.index}}">
										{{collapsible.title}}
									</a>
								</div> <!-- /panel-heading -->
								<div id="collapse{{loop.index}}" class="panel-collapse collapse">
									<div class="panel-body">
										{{collapsible.content}}
									</div> <!-- /panel-body -->
								</div> <!-- /collapseOne2 -->
							</div> <!-- /panel -->
							{% endfor %}
						</div> <!-- /panel-group -->
						<!-- /Accordions -->

					</div> <!-- /col-xs-12 -->

				</div> <!-- /row -->
			</div> <!-- /container -->
		</div> <!-- /text-accordions-block -->

	</div> <!-- /content-6-region -->

	<div id="content-7-region" class="content-7 region">

		<div id="company-description-block" class="company-description block">
			<div class="container">

				<div class="row">
					<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
						<h2>{{year_stats.title}}</h2>
						<p>{{year_stats.description}}</p>
					</div> <!-- /col-xs-12 -->
				</div> <!-- /row -->

				<!--<div class="row company-stats-1 text-center">-->
				<!--{% for status in year_stats.feature_stats %}-->
				<!--<div class="col-xs-12 col-sm-6 col-md-3 company-stat">-->
				<!--<h2 class="company-stat-title text-color-blue">{{status.status}}</h2>-->
				<!--<p class="bitter-font">{{status.description}}</p>-->
				<!--</div> &lt;!&ndash; /company-stat &ndash;&gt;-->

				<!--{% endfor %}-->
				<!--</div> &lt;!&ndash; /company-stats-1 &ndash;&gt;-->

				<div class="row">
					<div class="col-xs-12 company-description-image text-center">
						<img src="{{year_stats.image.url}}" class="img-responsive" alt="Company Description" title="Company Description">
					</div> <!-- /company-description-image -->
				</div> <!-- /row -->

			</div> <!-- /container -->
		</div> <!-- /company-description-block -->

	</div> <!-- /content-7-region -->

</section>
{% endblock %}