<!DOCTYPE HTML>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="description" content="HTML5 &amp; CSS3 Multipurpose Theme">-->
    <!--<meta name="keywords" content="HTML5, CSS3, Theme">-->
    <link href="../images/favicon.ico" rel="icon" type="image/png">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,700,400italic,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/flexslider.css" rel="stylesheet" type="text/css">
    <link href="../css/venobox.css" rel="stylesheet" type="text/css">
    <!--<link href="/static/css/blue-theme.css" rel="stylesheet" type="text/css">-->
    <link href="../css/red-theme.css" rel="stylesheet" type="text/css">
    <link href="../css/main.css" rel="stylesheet" type="text/css">

    <script src="../js/jquery-1.10.2.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.flexverticalcenter.js"></script>
    <script src="../js/jquery.flexslider-min.js"></script>
    <script src="../js/retina-1.1.0.min.js"></script>
    <script src="../js/jquery.stellar.min.js"></script>
    <script src="../js/jquery.mixitup.min.js"></script>
    <script src="../js/venobox.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/contact.js"></script>
</head>
<body>
<div class="main-wrapper">

    {% block content %}{% endblock %}

</div>
<div id="back-to-top" class="go-to-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
</body>
</html>